.song-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: clamp(100px, 5%, 1000px);
}

.home-page {
  display: flex;
  background-color: rgb(231, 231, 231);
}
