@import "./reset.scss";
@import "./misc/nav";
@import "./homePageCards/newPost";
@import "./homePageCards/songPost";
@import "./homePageCards/statsCard";
@import "./homePageCards/topTracks";
@import "./pages/home";

/* Styling start */

body {
  font-family: "Lato", sans-serif;
}

@media (max-width: 1310px) {
  .top-track-header {
    display: block;
  }
}

@media (max-width: 900px) {
  .top-tracks {
    display: none;
  }
  .home-profile {
    display: none;
  }
}

@media (max-width: 700px) {
  .nav-mobile {
    display: block;
    margin-right: 1rem;
  }
  .nav-2 {
    width: 100px;
  }
  .nav-3 {
    display: none;
  }
}

@media (max-width: 650px) {
  .user-song {
    font-size: 1.2rem;
    width: 80%;
  }
}

@media (max-width: 350px) {
  .nav-1 {
    font-size: 1rem;
  }
  .nav-2 {
    margin-right: 3rem;
  }
}
